<div class="row" style="background-color: black;">
    @if(prevChar != "") {
        @if(correct) {
            <p style="color: green;">{{prevChar}}</p>
        }
        @else {
            <p style="color:red">{{prevChar}}</p>
        }    
    }
    <p style="color: gray">{{this.currChar}}</p>
    @if(this.elapsedTime != 0) {
        <p>{{this.elapsedTime}}</p>
    }
    <input type="text" (input)="onInput($event)">
    <div class="row">
        @if(testDone) {
            <p style="color:green">{{keysPressed}} cpm with an accuracy of {{accuracy}} </p>
            <button (click)="resetInstance()">Play again?</button>
        }
        <p><u>PREFERENCES</u></p>
        <p>Letters:</p>
        <div class="col-3" *ngFor="let letter of letters">
           <p (click)="addPref($event)" style="cursor: pointer;">{{letter}}</p> 
        </div>
        <p>Symbols:</p>
        <div class="col-3" *ngFor="let symbol of symbols">
            <p (click)="addPref($event)" style="cursor: pointer;">{{symbol}}</p> 
        </div>
         <p>Numbers:</p>
         <div class="col-3" *ngFor="let number of numbers">
            <p (click)="addPref($event)" style="cursor: pointer;">{{number}}</p> 
        </div>
    </div>
    <p>Your Preferences:</p>
    <div class="row justify-content-center">
        <div class="col align-self-center" *ngFor="let char of preferences">
            <p style="color:red"> {{char}} </p>
        </div>
    </div>
    <button class="btn btn-danger" (click)="resetPrefs()">Reset Preferences</button>
</div>