<div class="container fluid" style="background-color: black;">

    <div class="row">
        <div class="col-1 offset-5" style="text-align: center;">
            @if(this.elapsedTime != 0) {
                <p>{{this.elapsedTime}}</p>
            }
        </div>
        <div class="row">
            @if(prevChar != "" && this.keysPressed != 0) {
                @if(correct) {
                    <div class="col-1 offset-5" style="color: green;">{{prevChar}}</div>
                }
                @else {
                    <div class="col-1 offset-5" style="color:red">{{prevChar}}</div>
                }    
            }
            <div class="col-1" style="color: gray;">{{this.currChar}}</div>
        </div>
        <br>
        <input type="text" placeholder="Start typing to get started" onkeypress="this.value=''" (input)="onInput($event)">
        <div class="row">
            <div class="row">
                <div class="col-2 offset-5">
                    @if(testDone) {
                        <p style="color:green">{{keysPressed}} cpm with an accuracy of {{accuracy * 100}}% </p>
                        <button (click)="resetInstance()">Play again?</button>
                    }
                </div>
            </div>
            <div class="row">
                @if(elapsedTime == 0 || testDone) {
                    <p (click)="togglePrefs()" style="cursor: pointer;"><u>PREFERENCES (click to show)</u></p>
                }
                @if(showPrefs && (this.elapsedTime == 0 || this.testDone)) {
                    <p>Symbols:</p>
                    <div class="col-auto" (click)="addPref($event)" style="cursor: pointer;" *ngFor="let symbol of symbols">
                        {{symbol}}
                    </div>
                    <br><br>
                    <p>Letters:</p>
                    <div class="col-auto" (click)="addPref($event)" style="cursor: pointer;" *ngFor="let letter of letters">
                        {{letter}}
                    </div>
                    <br><br>
                    <p>Numbers:</p>
                    <div class="col-auto" (click)="addPref($event)" style="cursor: pointer;" *ngFor="let number of numbers">
                        {{number}}
                    </div>
                    <br><br>
                    <p>Your Preferences:</p>
                        <div class="col-auto" *ngFor="let char of preferences">
                            {{char}}
                        </div>
                }
            </div>
        </div>
        @if(elapsedTime == 0 || testDone) {
            <button class="btn btn-danger" (click)="resetPrefs()">Reset Preferences</button>    
        }
    </div>

</div>